.page-globale {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.fond-blanc { background-color: white; }
.fond-rouge { background-color: red; }
.fond-verte { background-color: green; }
.fond-bleue { background-color: blue; }
.fond-jaune { background-color: yellow; }